<div class="container-fluid" style="margin-bottom: 15px;">
    <div class="row">
        <button mat-raised-button color="primary" (click)="fileButtonClicked()">
            {{option.value ? option.displayText + ': ' + option.value.name : 'Upload ' + option.displayText}}
        </button>
        <button *ngIf="existingFile" mat-button color="accent" (click)="viewExistingClicked()"></button>
    </div>
    <input id="{{option.propertyName}}" type="file" style="display: none;" (change)="fileChange($event)">
</div>