<div class="card">
    <div class="header">
        Create a new Project
    </div>

    <div class="content">
        <form novalidate class="ng-untouched ng-pristine ng-valid">
            <div class="form-group">
                <label>Project Name</label>
                <input class="form-control" placeholder="e.g. New Project Name" type="text" name="name" [(ngModel)]="_project.name">
            </div>
        </form>
    </div>

    <button type="button" class="btn btn-fill btn-primary" style="margin-bottom: 10px; margin-left: 10px;" (click)="addProjectClicked()">Add New Project</button>
</div>