.config-row {
    margin-bottom: 16px;
}

.button-row {
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
}

.config-text-title {
    font-size: 36px;
    vertical-align: middle;
}