.project-config-page {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.config-row {
    margin-bottom: 16px;
}

.button-row {
    margin-bottom: 16px;
    margin-left: 0px;
    margin-right: 0px;
}

.config-text-title {
    font-size: 36px;
    vertical-align: middle;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-container * {
    width: 100%;
}

.form-file-button {
    width: 100px;
}