<div class="project-analysis-page">
    <div class="row analysis-row">
        <button type="button" class="btn btn-primary" style="border: 0px solid transparent; font-size: 18px; vertical-align: middle;"
            (click)="backClicked()">
            <span class="glyphicon glyphicon-menu-left"></span> Back
        </button>

        <span class="text-muted" style="font-size: 36px; vertical-align: middle;">
            <strong>{{project.name}}</strong>
        </span>
    </div>

    <div class="content content-full-width">
        <div class="row button-row">
            <button mat-button color="primary" (click)="saveClicked()">
                <mat-icon>save</mat-icon>
                Save
            </button>
            <button mat-raised-button color="primary" class="pull-right" (click)="saveAndRunClicked()">
                <mat-icon>play_arrow</mat-icon>
                Save and Run
            </button>
        </div>

        <div class="row">
            <!-- User scripts -->
            <div class="col-md-6">
                <mat-card>
                    <!-- title -->
                    <mat-card-title>
                        {{user.first_name}}'s Scripts
                    </mat-card-title>

                    <!-- content -->
                    <mat-card-content>
                        <mat-list>
                            <mat-list-item>Testing </mat-list-item>
                        </mat-list>
                    </mat-card-content>

                    <!-- actions -->
                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="uploadScriptClicked()">
                            <mat-icon>cloud_upload</mat-icon>
                            Upload New Script
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <!-- Pipeline configuration -->
            <div class="col-md-6">
                <mat-card>
                    <mat-card-title>
                        Pipeline Settings
                    </mat-card-title>

                    <mat-card-content>
                        <!-- Pipeline editor here -->
                    </mat-card-content>

                    <mat-card-actions>
                        <!-- add script action -->
                        <!-- clear all action  -->
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

        <!-- Analysis log output -->
        <div class="row analysis-pipeline-output-container">
            <div class="col-md-12">
                <mat-card>
                    <mat-card-title>
                        Pipeline Output
                    </mat-card-title>
                    
                    <mat-card-content>
                        Example content
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>