<div class="wrapper wrapper-full-page">
    <div class="full-page register-page" data-color="blue" data-image="../../../assets/img/genetic-dna-desktop-wallpaper-50090-51777-hd-wallpapers.jpg">

        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="header-text">
                            <h2>Welcome to WebDNA</h2>
                            <h4>An oxDNA Simulation + Analysis Framework</h4>
                            <hr />
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <div class="media">
                            <div class="media-left">
                                <div class="icon">
                                    <i class="pe-7s-play"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4>Run DNA Simulations</h4>
                                Take advantage of the rich feature set of oxDNA with an accessable user interface and minimal programming requirements.
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-left">
                                <div class="icon">
                                    <i class="pe-7s-refresh-2"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4>Analysis Pipeline</h4>
                                Analyze your simulation results with a series of built-in Python scripts, or write your own!

                            </div>
                        </div>

                        <div class="media">
                            <div class="media-left">
                                <div class="icon">
                                    <i class="pe-7s-share"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4>Visualization</h4>
                                Observe your results with an easy to use browser-based simulation visualizer.

                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-md-offset-s1">
                        <form (ngSubmit)="register()">
                            <div class="card card-plain">
                                <div class="content">
                                    <div class="form-group">
                                        <input [(ngModel)]="user.first_name" #firstNameInput="ngModel" name="firstname" type="email" placeholder="Your First Name"
                                            class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input [(ngModel)]="user.last_name" #lastNameInput="ngModel" name="lastname" type="email" placeholder="Your Last Name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input [(ngModel)]="user.username" #usernameInput="ngModel" name="username" type="email" placeholder="Username" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input [(ngModel)]="user.email" #emailInput="ngModel" name="email" type="email" placeholder="Enter email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input [(ngModel)]="user.password" #passwordInput="ngModel" name="password" type="password" placeholder="Password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input [(ngModel)]="password_confirmation" #passwordConfirmInput="ngModel" name="password_confirm" type="password" placeholder="Confirm Password"
                                            class="form-control">
                                    </div>
                                </div>
                                
                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-fill btn-neutral btn-wd">Create A New Account</button>
                                </div>
                                
                            </div>
                        </form>

                        <div class="header">
                            <hr/>
                        </div>
                        <br/>

                        <div class="card card-plain text-center">
                            <button (click)="existing()" type="submit" class="btn btn-fill btn-neutral btn-wd">Log in with Existing Account</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <footer class="footer footer-transparent">
            <div class="container">
                <p class="copyright text-center">
                    &copy; {{test | date: 'yyyy'}}
                    <a href="http://self-assembly.net/wiki/index.php?title=Main_Page">WebDNA</a>, University of Arkansas
                </p>
            </div>
        </footer>

    </div>

</div>