mat-expansion-panel.project-table-item {
    background: #fff;
}

mat-expansion-panel-header.project-table-item:hover {
    background: #eee;
}

mat-expansion-panel-title.project-table-item {
    width: 150px;
}