<div class="main-content" layout="column" flex style="max-height: 92%; overflow: scroll; overflow-x: hidden; margin-bottom: 0px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div [ngSwitch]="currentPage">
                    <div *ngSwitchCase="ProjectPage.TABLE">
                        <project-list [user]="user" [projectClicked]="projectClicked" [isCurrentPage]="isTableCurrentPage"></project-list>
                    </div>

                    <div *ngSwitchCase="ProjectPage.SETTINGS">
                        <project-config [project]="editingProject" [didClickBack]="didClickBackFromConfig" [didClickAnalysis]="didClickAnalysis"></project-config>
                    </div>

                    <div *ngSwitchCase="ProjectPage.ANALYSIS">
                        <project-analysis [project]="editingProject" [didClickBack]="didClickBackFromAnalysis"></project-analysis>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>