<h1>{{firstName}}'s Projects</h1>
<button *ngIf="!addingProject" type="button" class="btn btn-fill btn-primary" style="margin-bottom: 20px;" (click)="addProjectClicked()">Add New Project</button>
<project-table *ngIf="!addingProject" [projects]="projects" [projectClicked]="projectClicked"></project-table>

<button *ngIf="addingProject" type="button" class="btn btn-default" style="margin-bottom: 20px;" (click)="cancelAddProjectClicked()">Cancel</button>
<div *ngIf="addingProject">
    <project-add [addProjectConfirmed]="addProjectConfirmed"></project-add>
</div>